<h1>Hello World, and more...</h1>
<br />
<br />
TEST:<br />

VAR: {{ packagistFTPResult|json_encode() }}
<br />
<ul>
    {% for packagistItem in packagistFTPResult %}
        <li>TEST</li>
    {% else %}
        <li>No entries</li>
    {% endfor %}
</ul>