<h1>Hello World, and more...</h1>
<br />
<br />
TEST:<br />

<ul>
    {% for packagistItem in packagistFTPResult %}
        <li>{{ packagistItem.name }} : {{ packagistItem.repository }}</li>
    {% else %}
        <li>No entries</li>
    {% endfor %}
</ul>